# Directories with some compilation products
/docs/
/bin/
/lib/
/.deps/
/.objs/
/.gen/
# The desired results
*.html
*.so
/src/opkg-trans/opkg-trans
# Stuff dump core all over the place.
core
vgcore.*
# Test stuff
tests/check-compiled
tests/arguments
