-- vim: set ft=lua:
std = "lua51"

-- We are shadowing variables in code all the time. It is feature for us and shouldn't be reported as problem.
redefined = false

globals = {
	-- lua51 doesn't contains?
	"_M",
	-- From interpreter.c
	"log", "state_log_enabled", "state_dump", "run_command", "download", "events_wait", "mkdtemp", "chdir", "getcwd", "mkdir", "move", "ls", "stat", "lstat", "sync", "setenv", "md5", "sha256", "reexec", "uri_internal_get",
	-- From logging
	"ERROR", "WARN", "INFO", "DBG", "DIE", "log_event", "c_pcall_error_handler",
	-- From dumper
	"DataDumper",
	-- Modules
	"stacktraceplus", "utils", "backend", "transaction", "uri", "requests", "sandbox", "postprocess", "planner", "updater",
}

files["src/lib/autoload/a_04_utils.lua"] = {
	globals = {
		"lines2set", "map", "set2arr", "arr2set", "cleanup_dirs", "slurp", "clone", "shallow_copy", "table_merge", "arr_append", "exception", "multi_index", "private", "filter_best", "strip", "table_overlay", "randstr",
	}
}

files["src/lib/autoload/a_06_backend.lua"] = {
	globals = {
		-- Functions and variables used in other files
		"pkg_temp_dir", "repo_parse", "status_dump", "pkg_unpack", "pkg_examine", "collision_check", "not_installed_confs", "steal_configs", "dir_ensure", "pkg_merge_files", "pkg_merge_control", "pkg_config_info", "pkg_cleanup_files", "control_cleanup", "version_cmp", "flags_load", "flags_get", "script_run", "flags_get_ro", "flags_write", "flags_mark", "run_state",
		-- Variables that we want to access from outside (ex. for testing purposes)
		"status_file", "info_dir", "root_dir", "pkg_temp_dir", "flags_storage", "cmd_timeout", "cmd_kill_timeout", "stored_flags", "dir_opkg_collided",
		-- Functions that we want to access from outside (ex. for testing purposes)
		"root_dir_set", "block_parse", "block_split", "block_dump_ordered", "pkg_status_dump", "package_postprocess", "status_parse", "get_parent", "config_modified"
	}
}

files["src/lib/autoload/a_07_transaction.lua"] = {
	globals = {
		"perform", "recover", "empty", "perform_queue", "recover_pretty", "queue_remove", "queue_install", "queue_install_downloaded", "approval_hash", "task_report"
	}
}

files["src/lib/autoload/a_08_uri.lua"] = {
	globals = {
		"wait", "signature_check", "parse", "new"
	}
}

files["src/lib/autoload/a_09_requests.lua"] = {
	globals = {
		"known_packages", "package_wrap", "known_repositories", "known_repositories_all", "repo_serial", "repository", "repository_get", "content_requests", "install", "uninstall", "script", "store_flags"
	}
}

files["src/lib/autoload/a_10_sandbox.lua"] = {
	globals = {
		"morpher", "state_vars", "level", "new", "run_sandboxed"
	}
}

files["src/lib/autoload/a_11_postprocess.lua"] = {
	globals = {
		"get_repos", "deps_canon", "available_packages", "pkg_aggregate", "run"
	}
}

files["src/lib/autoload/a_12_planner.lua"] = {
	globals = {
		"candidate_choose", "required_pkgs", "filter_required",
	}
}

files["src/lib/autoload/a_13_updater.lua"] = {
	globals = {
		"required_pkgs", "prepare", "cleanup"
	}
}
