-- vim: set ft=lua:
std = "lua51"

-- We are shadowing variables in code all the time. It is feature for us and shouldn't be reported as problem.
redefined = false
-- All over the code we have long lines so just ignore them for now (TODO get around to format them better way).
max_line_length = false

globals = {
	-- lua51 doesn't contains?
	"_M",
	-- From interpreter.c
	"log", "state_log_enabled", "update_state", "cleanup_register_handle",
	"cleanup_unregister_handle", "run_command", "run_util", "download",
	"events_wait", "mkdtemp", "chdir", "getcwd", "mkdir", "move", "copy",
	"symlink", "ls", "stat", "lstat", "sync", "setenv", "md5", "sha256",
	"md5_file", "sha256_file", "reexec", "uri_internal_get", "system_reboot",
	"get_updater_version", "subprocess", "subprocess_kill_timeout",
	"LST_PKG_SCRIPT", "PST_HOOK", "LS_INIT", "LS_CONF", "LS_PLAN", "LS_DOWN",
	"LS_PREUPD", "LS_UNPACK", "LS_CHECK", "LS_INST", "LS_POST", "LS_REM",
	"LS_CLEANUP", "LS_POSTUPD", "LS_EXIT", "LS_FAIL",
	-- From logging
	"ERROR", "WARN", "INFO", "DBG", "TRACE", "DIE", "log_event", "c_pcall_error_handler",
	-- URI
	"uri",
	-- Picosat
	"picosat",
	-- syscnf
	"syscnf",
	-- opmode
	"opmode",
	-- archive
	"archive",
}
