-- vim: set ft=lua:
std = "lua51"

-- We are shadowing variables in code all the time. It is feature for us and shouldn't be reported as problem.
redefined = false
-- All over the code we have long lines so just ignore them for now (TODO get around to format them better way).
max_line_length = false

globals = {
	"_M", -- lua51 doesn't contains it?
	-- From interpreter.c
	"log", "cleanup_register_handle",
	"cleanup_unregister_handle", "run_command", "run_util", "download",
	"events_wait", "mkdtemp", "chdir", "getcwd", "mkdir", "move", "copy",
	"symlink", "ls", "stat", "lstat", "sync", "setenv", "md5", "sha256",
	"md5_file", "sha256_file", "reexec", "uri_internal_get", "system_reboot",
	"get_updater_version", "subprocess", "subprocess_kill_timeout",
	"LST_PKG_SCRIPT", "PST_HOOK",
	-- From logging
	"ERROR", "WARN", "INFO", "DBG", "TRACE", "DIE", "c_pcall_error_handler",
	-- URI
	"uri",
	-- Picosat
	"picosat",
	-- syscnf
	"syscnf",
	-- opmode
	"opmode",
	-- archive
	"archive",
	-- path_utils
	"path_utils",
}
